<footer class="footer bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-3 mb-md-0">
          <h5>About Us</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <h5>Follow Us</h5>
          <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" target="_blank" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank" class="text-white mx-2"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col text-center">
          <p class="mb-0">&copy; 2024 Madhavi Joshi. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  