

$black : #000000;

$danger: #dc3545;
$primary: rgb(61, 61, 61);
$secondary: #e2e0e0;
$offwhite: #f9f9f9;
$blue: #6cacd1;
$light_blue: #d6e7f1;
$blue_btn_hover: #54b5ee;
$primary_btn_hover: rgb(94, 93, 93);
$white: white;
$default:rgb(0, 0, 0)